/*INDEX.PHP*/
#form .input-group {
    margin-bottom: 10px;
}
.wrapper.index {
    height: 300px;
    padding-top: 50px;
    position: relative;
    top: 10%;
}

/*CHAT.PHP*/
.clear {
    clear: both;
}

.padded {
    margin-bottom: 4px;
}


.wrapper {
    box-shadow: 0px 0px 20px 4px lightgray;
}


.overlay, .lockOverlay {
    background: url("../img/loader.gif") 50% 50% no-repeat white;
    bottom: 0px;
    display: none;
    left: 0px;
    opacity: 0.9;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 100;
}
.lockOverlay {
    background: white;
    cursor: default;
    opacity: 1;
}

.lock {
    background-color: gray;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 40px;
    height: 57px;
    left: 48.5%;
    padding: 9px 6px 8px 10px;
    position: fixed;
    width: 57px;
    top: 3px;
    z-index: 90;
}
.lock:hover {
    color: lightgray;
}
.lock .countDown {
    color: gray;
    font-size: 14px;
    height: 37%;
    left: 25%;
    position: absolute;
    text-align: center;
    top: 42%;
    width: 50%;
    z-index: 100;
}

input.unlock.error {
    border-color: red;
}


.inputContainer {
    padding: 10px;
    position: relative;
}

.inputContainer .btn {
    width: 100%;
}

.inputContainer .users {
    color: gray;
    margin-bottom: 10px;
    text-align: center;
}
.inputContainer .users span {
    text-transform: capitalize;
}

#message {
    height: 146px;
    margin-bottom: 4px;
}



.chatContainer {
    margin-bottom: 40px;
    overflow-y: scroll;
    padding: 5px 30px 0px 30px;
}

.chatContainer .updated {
    display: none;
    overflow: visible;
}

.chatContainer .message {
    border-radius: 11px;
    margin: 5px;
    overflow: scroll;
    padding: 7px;
    position: relative;
    /*width: 40%;*/
}

/*.chatContainer .message.right {
    float: right;
}
.chatContainer .message.left {
    float: left;
}*/

.chatContainer .message .name, .chatContainer .message .time {
    font-size: 9px;
    position: absolute;
    top: 7px;
}
.chatContainer .message .name {
    left: 7px;
}
.chatContainer .message .time {
    right: 7px;
}
.chatContainer .message .content {
    margin-top: 15px;
}
